rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Для локальної емулюції дозволяємо все
      allow read, write: if true;
    }
  }
}